@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
	font-family: "Poppins", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.jumbotron {
	margin: 10px;
	height: 390px;
	width: 95%;

	@media (max-width: 875px) {
		height: 420px;
	}

	&__title {
		text-align: center;
		margin-bottom: 40px;
	}
}

.row {
	margin-bottom: 20px;
}

.form {
	&__input {
		@media (max-width: 875px) {
			transform: translateY(20px);
		}

		&-text {
			font-size: 1.4rem;
			margin-bottom: 15px;
		}
	}
	&__radio {
		&-btn {
			font-size: 2rem;
			cursor: pointer;
		}

		&-label {
			font-size: 1.4rem;
		}
	}
	&__button {
		margin-top: 30px;
		padding: 10px 0;
	}
}

.container {
	&__result {
		width: 95%;
		height: 20px;
		background-color: #eee;
		margin: 10px;
	}
}
